<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="titre mt-5">
                <h1 class="text-uppercase text-center ">Tableau de bord</h1>
            </div>
            <div class="underline"></div>
        </div>
    </div>
</div>


<div class="container-fluid mt-5 wrapper">
    <div class="row">
        <div class="col-12">
            <div class="headerwrapper">
                <div class="headerProfile col col-lg-2 col-md-3 col-sm-3">
                    <p class="text-uppercase">Mon Profil</p>
                </div>
                <div class="col-lg-10 headerborder">
                </div>
            </div>

            <div class="body pt-5 ">
                <div class="row">

                <div class="col-3 ">
                            <div class="avatar col-7 ml-5 ">
                                    <img src="../../../../assets/images/profile/man.png" class="img-fluid">
                            </div >
                            <div class=" col-7 ml-5 avatarupload text-center">
                           <button>Parcourir...</button>
                            </div>
                </div>
                <div class="col-9">
              <div class="bodyContent">
                <div class="bodyTitle ">
                    <p class="text-uppercase">Fiche Formateur</p>
                </div>

                <div class="form mt-3">
                    <div class="nom d-flex justify-content-between">
                            <div class="col-2 col-sm-3 col-lg-2">
                            <p class="title">Nom</p>
                        </div>
                        <div class="col-10 col-sm-9 col-lg-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="prenom d-flex justify-content-between">
                        <div class="col-2 col-sm-3 col-lg-2">
                            <p class="title">Prénom</p>
                        </div>
                        <div class="col-10 col-sm-9 col-lg-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="email d-flex justify-content-between">
                        <div class="col-2 col-sm-3 col-lg-2">
                            <p class="title">Email</p>
                        </div>
                        <div class="col-10 col-sm-9 col-lg-10">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="telephone d-flex justify-content-between">
                        <div class="col-2 col-sm-3 col-lg-2">
                            <p class="title">Telephone</p>
                        </div>
                        <div class="col-10 col-sm-9 col-lg-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="specialites d-flex justify-content-between">
                        <div class="col-2 col-sm-3 col-lg-2">
                            <p class="title">Spécialites</p>
                        </div>
                        <div class="col-10 col-sm-9 col-lg-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                   
                    <div class="permissions d-flex ">
                        <div class="col-2 col-sm-3 col-lg-2 d-flex justify-content-between">
                            <p class="title">Permissions</p>
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div class="col-10 col-sm-9 col-lg-10">
                        <div class="permissionscheckbox d-flex">
                                <p><mat-checkbox>Administrateur</mat-checkbox></p>
                                <p><mat-checkbox >Formateur</mat-checkbox></p>
                                <p><mat-checkbox>Aucun</mat-checkbox></p>
                        </div>
                    </div>
                    </div>

                    <div class="motdepasse d-flex justify-content-between">
                            <div class="col-2 col-sm-3 col-lg-2">
                                <p class="title">Mot de passe</p>
                            </div>
                            <div class="col-10 col-sm-9 col-lg-10 text-center">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


        </div>
    </div>
</div>




