<div class="container">
    <div class="row ">
        <div class="col col-xs-12">
            <div class="titre">
                <h2 class="text-uppercase text-center mt-3 ">Choix de Formation</h2>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4 bloc1">
            <h4 class="text-uppercase text-center ">Espace Personnel</h4>
        </div>
        <div class="col-4 bloc2">
            <h4 class="text-uppercase text-center">Espace commun</h4>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Rechercher">
        </div>
    </div>

  
    <!-- Premier block -->
    <div class="row blocs">
        <div class="col-4">

            <div class="card" routerLink="../vue-generale" >
                   <img src="../../../../assets/images/formations/fac1.jpg" class="img-fluid">
                <div class="card-body blocFormation">
                    <h4 class="card-title text-center">Formation No 1</h4>
                </div>
            </div>
        </div>
        <div class="col-4">
                <div class="card">
                    <img src="../../../../assets/images/formations/fac2.jpg" class="img-fluid">
                    <div class="card-body blocFormation">
                        <h4 class="card-title text-center">Formation No 2</h4>
                    </div>
                </div>
        </div>
        <div class="col-4">
                <div class="card">
                    <img src="../../../../assets/images/formations/fac3.jpg" class="img-fluid">
                    <div class="card-body blocFormation">
                        <h4 class="card-title text-center">Formation No 3</h4>
                    </div>
                </div>
        </div>
    </div>

      <!-- Deuxième block -->
      <div class="row blocs mt-3">
            <div class="col-4">
                    <div class="card">
                        <img src="../../../../assets/images/formations/fac4.jpg" class="img-fluid">
                        <div class="card-body blocFormation">
                            <h4 class="card-title text-center">Formation No 4</h4>
                        </div>
                    </div>
            </div>
            <div class="col-4">
                    <div class="card">
                        <img src="../../../../assets/images/formations/fac4.jpg" class="img-fluid">
                        <div class="card-body blocFormation">
                            <h4 class="card-title text-center">Formation No 5</h4>
                        </div>
                    </div>
            </div>
            <div class="col-4">
                    <div class="card">
                        <img src="../../../../assets/images/formations/fac4.jpg" class="img-fluid">
                        <div class="card-body blocFormation">
                            <h4 class="card-title text-center">Formation No 6</h4>
                        </div>
                    </div>
            </div>
        </div>

      <h1 class="text-warning">Pagination</h1>
</div>