<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="titre mt-5">
                <h1 class="text-center text-uppercase">Tableau de bord</h1>
            </div>
            <div class="underline text-center"></div>
        </div>
    </div>


    <div class="tableau">
        <div class="col-10">
            <div class="header">
                <div class="col-3">
                    <p class="text-uppercase text-center">General</p>
                </div>
            </div>
        </div>
    </div>

</div>