
<h1 >QCM 1er jour</h1>  
<div class='questionContainer'>    
    <div class="questions">  

        <div  class="row cadre" *ngFor="let question of questions">
                <h2 class="col-md-12">{{question.question}}</h2>
                <div class="col-md-6" *ngFor="let reponse of question.reponse">
                    <span class="reponse" ><i class="far fa-square">   {{reponse.text}}</i></span>
                    
                </div>          
        </div>

    </div>
</div>
<div id="btnBas">
        <button (click)="clickTablette()" class="buttonCefirc" id="envoiTablette"><i [ngClass]="statusBtnTab ? 'fas fa-spinner fa-spin' : 'fas fa-share' "></i><i [ngClass]="statusBtnTab ? '' : 'fas fa-mobile-alt' "></i></button>
        <a [routerLink]="['/access/formation/resultat']"> <button class="buttonCefirc" id="reponse">Reponse</button> </a>
</div>
