
<div class="container">
    <div class="row">
        <h1 class="col align-self-center">QCM 1er jour</h1>  
    </div>
    <div class="question">  
        <div class="row">
            <h2 class="col-md-12">Quel niveau est requis pour pouvoir signer les permis ?</h2>
            <mat-checkbox class="col-md-6">Niveau 1</mat-checkbox>
            <mat-checkbox class="col-md-6">Niveau 2</mat-checkbox>
            
        </div>

        <div class="row">
            <h2 class="col-md-12">Quels sont les 4 principaux permis ou autorisations qui sont  susceptibles de vous être demandés ?</h2>
            <mat-checkbox class="col-md-6 .offset-md-3">Permis électrique</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de sortir</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de fouille</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de consignation</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de travail</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de feu</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de fumer</mat-checkbox>
            <mat-checkbox class="col-md-6">Permis de pénétrer</mat-checkbox>
        </div>

        <div class="row">
            <h2 class="col-md-12">Pour des travaux de très courte durée (moins d’1 heure),peut-on travailler sans permis ou autorisation ?</h2>
            <mat-checkbox class="col-md-6">Oui</mat-checkbox>
            <mat-checkbox class="col-md-6">Non</mat-checkbox>
        </div>

        <div class="row">
            <h2 class="col-md-12">Doit-on demander une autorisation d’accès ?</h2>
            <mat-checkbox class="col-md-6">Pour le personnel.</mat-checkbox>
            <mat-checkbox class="col-md-6">Pour les véhicules et engins.</mat-checkbox>
            <mat-checkbox class="col-md-6">Pour les coffres, caisses à outils…</mat-checkbox>
            <mat-checkbox class="col-md-6">Pour un poste à souder ou groupe électrogène quelque soit le site</mat-checkbox>
        </div>

        <div class="row">
            <h2 class="col-md-12">Quelles sont vos obligations en tant qu’opérateur ?</h2>
            <mat-checkbox class="col-md-6">Respecter les consignes de votre employeur.</mat-checkbox>
            <mat-checkbox class="col-md-6">Respecter les consignes de l’Entreprise Utilisatrice.</mat-checkbox>
            <mat-checkbox class="col-md-6">Faire vous-même les visites de conformité réglementaire du matériel mis à votre disposition.</mat-checkbox>
            <mat-checkbox class="col-md-6">Appliquer votre droit de retrait en cas de danger grave et imminent.</mat-checkbox>
            <mat-checkbox class="col-md-6">Acheter des EPI adaptés.</mat-checkbox>
            <mat-checkbox class="col-md-6">Prendre l’initiative de faire contrôler régulièrement son matériel par un organisme officiel.</mat-checkbox>
        </div>

        <div class="row">
            <h2 class="col-md-12">On m’a fourni la formation et les EPI nécessaires, dont 
                le harnais complet, aucune protection collective ne pouvait être mise en place. Je ne m’accroche pas et tombe.
                Qui est le responsable ?</h2>
            <mat-checkbox class="col-md-6">Mon responsable</mat-checkbox>
            <mat-checkbox class="col-md-6">Moi</mat-checkbox>
            <mat-checkbox class="col-md-6">Le responsable EU</mat-checkbox>
        </div>

        <div class="row">
            <h2 class="col-md-12">En cas de déclenchement d’une sirène d’évacuation incendie, je dois ?</h2>
            <mat-checkbox class="col-md-6">Rentrer chez moi le plus rapidement possible.</mat-checkbox>
            <mat-checkbox class="col-md-6">Mettre en sécurité mon poste de travail.</mat-checkbox>
            <mat-checkbox class="col-md-6">Rejoindre un point de rassemblement.</mat-checkbox>
            <mat-checkbox class="col-md-6">Aller chercher des extincteurs.</mat-checkbox>
        </div>
    </div>
    <button mat-icon-button>Tablette</button>
    <button mat-flat-button>Reponse</button>
</div>