<img id="cefircIMG" src="../../assets/logo-cefirc-igta-centre-formation.svg" alt="">



<div class="container">

    <div class="text"><h1>DASHBOARD</h1></div>

    <div class="formation">
            <a routerLink="formation">
            <img class="icons" id="icon-formation" src="../../assets/access-formation-icon.svg" alt="">
            FORMATION</a>
    </div>

    <div class="edition">
            <a routerLink="edition"><img class="icons" src="../../assets/access-editor-licon.svg" alt="">
        EDITION</a>
    </div>


    <div class="admin">
       <a routerLink="admin"><img class="icons" src="../../assets/access-admin-icon.svg" alt="">
          ADMIN</a>
    </div>

</div>
<router-outlet></router-outlet>