nav {
    background: url(../assets/images/Logo_Cefirc.png) no-repeat;
    background-size: 15em;
    background-position-y: 4%;
    background-position-x: 4%; 
    height: 60pxx;
    
}

body{
    background-color: #283C83;
}

