@import "~@fortawesome/fontawesome-free/css/all.css"; 
@import "~bootstrap/dist/css/bootstrap.css"; 
.vueGenerale{
    position:relative;
    z-index:1;
}

.vueGeneraleImg{
    /* background-position: center;  background: url(../../../assets/images/3D/1.jpg); background-repeat: no-repeat;   background-position: center; Center the image */
    position:relative;
}


.vueGeneraleImg img{
    height:93.5vh;
    width:100vw;
}

.scenario1{
    position:absolute;
    left:7%;
    top:37%;
    height:2vh;
    width:1vw;
    border-radius: 50%;
    background-color: blue;
}


.scenario2{
    position:absolute;
    right:15%;
    top:41%;
    height:2vh;
    width:1vw;
    border-radius: 50%;
    background-color: blue;
}

.scenario3{
    position:absolute;
    right:35%;
    bottom:15%;
    height:2vh;
    width:1vw;
    border-radius: 50%;
    background-color: blue;
}


.scenario4{
    position:absolute;
    left:15%;
    bottom:30%;
    height:2vh;
    width:1vw;
    border-radius: 50%;
    background-color: blue;
}

.scenario5{
    position:absolute;
    left:40%;
    bottom:45%;
    height:2vh;
    width:1vw;
    border-radius: 50%;
    background-color: blue;
}


.slideDown{
    text-align: center;
}


.slideDown i {
    transform: scale(3);
    padding:0;
    cursor:pointer;
    position:relative;
    top:-10px;
}

.Formations{
    display:flex;
    height:85vh;
    align-items: center;
}

.card-body {
    color:#283c83;
    padding:0px;
}

.inactive{
    display:none!important;
}

.active{
    display:block!important;
}

.wrapper{
    height:100vh;
    background-color:white;
}

/** QUIZZ **/

.ajoutQuizz{
    position:fixed;
    bottom:3%;
    right:3%;
    cursor:pointer;
    display:flex;
    justify-content: space-around;
}

.ajoutQuizz i{
  font-size:3em;
  color:#d6d6d6;
}


.ajoutQuizz i:hover{
   transform:rotate(360deg);
   transition:500ms ease-in-out
}

.ajoutQuizz p {
    color:#d6d6d6;
    padding-top:10%;
    padding-right:15%;
    font-weight: 700;
}

